
/*
http://www.colorpicker.com/
http://www.rgbtohex.net/hextorgb/

SteelBlue
---------
7324bc => R: 70 G: 130 B: 180 => rgb(70, 130, 180) - (normal)
3D709C => R: 61 G: 112 B: 156 => rgb(61, 112, 156) - (dark)
*/

/* =============================================================== */
/* FOUNDATION
/* =============================================================== */

/*
Base Theme Color || If you want to replace a specific known color
    
@dividerColor:       #e6e6e6;

@linkColor:          #369;
@linkHoverColor:     #FA7722;

@primaryTextColor    #333
@secondaryTextColor: #4e575d;

@btn-default         #BDC3C7;
@btn-default:hover   #CACFD2;

@btn-primary         #16A085;
@btn-primary:hover   #149078

@btn-info            #e4cb65
@btn-info:hover      #C1AC59;

@btn-danger          #E74C3C;
@btn-danger:hover    #EC7063;

@btn-success         #2ECC71;
@btn-success:hover   #58D68D;
*/
@charset "utf-8";

body {
	/*background: #FFF none repeat scroll 0 0;*/
}

#wrapper {
	/*background-color: #FFFFFF;*/
}

::selection {
	color: #fff;
	background: #15b0f1;
}

::-moz-selection {
	color: #fff;
	background: #15b0f1;
}

a {
	color: #501192;
}

a:hover, a:focus {
	color: #FA7722;
}

.link-color {
	color: #501192;
}

.btn-post {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #15b0f1;
	color: #fff;
}

.navbar-nav > li.postadd a {
	color: #333;
}

.btn-post:hover, .btn-post:active {
	background-color: #fff447;
	border-color: #fff447;
	color: #333;
}

.btn-post:hover, .btn-post:focus, .btn-post:active, .btn-post.active, .open .dropdown-toggle.btn-post, .btn-post:hover, .btn-post:active {
	background-color: #fff447 !important;
	border-color: #fff447 !important;
	color: #333 !important;
}

.btn-yellow {
	background-image: linear-gradient(to bottom, #ffeb43 0%, #fcde11 100%);
	background-repeat: repeat-x;
	border: 1px solid #f6d80f;
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 #aaa;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	line-height: 17px;
	padding: 12px 20px 12px;
	text-align: center;
}

.btn-primary {
	background-color: #15b0f1;
	border-color: #15b0f1;
	color: #fff;
}

.btn-default-lite {
	background-color: #e5e5e5;
	color: #6d6d6d;
}

.btn-default-lite:hover, .btn-default-lite:focus, .btn-default-lite:active, .btn-default-lite.active, .open .dropdown-toggle.btn-default-lite {
	background-color: #ececec;
	border-color: #e5e5e5;
	color: #969696;
}

/*
.btn-danger {
    background-color: #E74C3C;
    border-color: #E74C3C;
    color: #fff;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger, .btn-post:hover, .btn-post:active {
	background-color: #EC7063;
	border-color: #EC7063;
	color: #FFFFFF;
}

.btn-post:hover, .btn-post:focus, .btn-post:active, .btn-post.active, .open .dropdown-toggle.btn-post, .btn-post:hover, .btn-post:active {
	background-color: #EC7063 !important;
	border-color: #EC7063!important;
	color: #FFFFFF!important;
}
*/

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #743abc;
	border-color: #743abc;
	color: #FFFFFF;
}

.btn-primary-dark {
	background-color: #15b0f1;
	border-color: #15b0f1;
	color: #fff;
}

.btn-primary-dark:hover, .btn-primary-dark:focus, .btn-primary-dark:active, .btn-primary-dark.active, .open .dropdown-toggle.btn-primary-dark {
	background-color: #501192;
	border-color: #501192;
	color: #FFFFFF;
}

.btn-sm {
	border-radius: 3px;
	font-size: 8px;
	line-height: 1.5;
	padding: 3px 4px;
}

.form-control:focus {
	border-color: #969696;
	box-shadow: 0 1px 0 #969696, 0 -1px 0 #969696, -1px 0 0 #969696, 1px 0 0 #969696;
	outline: 0 none;
}

.item-list:hover .make-favorite span {
	width: auto;
	font-size: 8px;
}

.logo, .logo-title {
	color: #15b0f1;
}

/* Inner box */
.inner-box {
	/*background: #f5f5f5 none repeat scroll 0 0;*/
	margin-bottom: 0;
	padding: 20px 15px;
}

.page-content .inner-box {
	overflow: hidden;
}

/* Home categories box */
.box-title {
	border-bottom: 0 solid #fafafa;
	background-color: #fafafa;
}

.f-category {
	border-color: #f5f5f5 #f5f5f5 #f5f5f5 -moz-use-text-color;
	border: 1px solid #f5f5f5;
	padding: 25px 15px;
}

.f-category img {
	height: 60px;
}

.content-box {
	box-shadow: none;
	border: 1px solid #ebebeb;
}

/* Sidebar box */
.sidebar-panel .panel-heading {
	background: #f8f8f8 none repeat scroll 0 0;
	border-bottom: 1px solid #ebebeb;
}
.panel {
	background-color: #fff;
	box-shadow: none;
	border: 1px solid #ebebeb;
}
.panel-details {
	background: #f8f8f8 none repeat scroll 0 0;
	border: 1px solid #ddd;
	position: relative;
}

.cat-list {
	margin-bottom: 0; /* 30px; */
}

.cat-list h3 a, .cat-list h3 {
	color: #15b0f1;
}

.cat-list h3 a:hover, .cat-list h3 a:focus {
	color: #FF8C00;
}

#homepage .cat-list ul li a, #homepage .cat-list li a {
	font-size: 13px;
}

.page-bottom-info {
	background: #15b0f1;
}

/* [OTHERS] */
button.btn-search {
	border-radius: 0 !important;
	font-size: 18px;
	height: 48px;
	letter-spacing: -0.5px;
	text-shadow: 0 2px 2px #15b0f1; /* #628FB5 / #008d1a */
	-webkit-text-shadow: 0 2px 2px #15b0f1;
	text-transform: uppercase;
}

.navbar-nav > li.postadd a {
	padding: 12px 15px;
}

/* NAV BAR */
.navbar-nav > li.postadd a {
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 13px;
	height: 40px;
	line-height: normal;
	padding: 12px 20px;
	text-transform: none;
	width: 170px;
}

.navbar-site {
	/*position: relative;*/ /* Comment this line for : Stick navbar */
	border: 0;
	background: #fff none repeat scroll 0 0;
	border-bottom: 2px solid #af9f8a;
	border-radius: 0;
	height: auto;
	margin-bottom: 0 !important;
}

.navbar-default {
	background-color: #FFFFFF;
	border-color: #e7e7e7;
	border-bottom: 1px solid #e8e8e8;
}

/* CONTAINER WIDTH */
.container {
	width: auto; /* 750px; */
}

.intro {
	margin-top: 30px;
}

.intro .container {
	max-width: 100%; /*900px; /* 800px; */
}

.search-row {
	margin-top: 0;
	max-width: 900px; /* 800px; */
}

.intro .search-row {
	max-width: none;
}

/* COLOR SET */
.pace .pace-progress {
	background: #15b0f1 none repeat scroll 0 0;
}

/* Search Form */
.search-row-wrapper {
	background: #15b0f1;
	height: auto;
	padding: 5px 0;
	transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
	width: 100%;
	margin-top: 30px;
}
.search-row-wrapper .container {
	padding: 0 5px;
}

/* Homepage Search Box */
.intro {
	background: #15b0f1;
	height: 100%;
	min-height: 50px;
	max-height: 300px;
	padding: 5px 0;
}
.intro .dtable .dtable-cell .container {
	padding: 0 5px;
}

/* END COLOR SET */

.page-info {
	background-color: #3c3c3c;
	padding: 10px;
}

.iconbox-wrap-icon .icon {
	color: #FFFFFF;
}

.page-info-lite {
	background-color: #fafafa;
	padding: 5px;
}

.page-info-lite h5 {
	color: #CCCCCC;
}

.page-info-lite .iconbox-wrap-icon .icon {
	color: #CCCCCC;
}

.page-info-lite .iconbox-wrap-text {
	color: #CCCCCC;
}

.intro h1, .intro-title {
	color: #DC143C;
	/*text-shadow: none;*/
}

.intro p {
	color: #FFF; /* #666; */
	/*text-shadow: none;*/
}

/* SHODOW */
.ln-shadow {
	background-color: rgb(70, 130, 180);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 28px;
	height: 42px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 42px;
	text-shadow: 1px 1px rgb(61, 112, 156), 2px 2px rgb(61, 112, 156), 3px 3px rgb(61, 112, 156), 4px 4px rgb(61, 112, 156), 5px 5px rgb(61, 112, 156), 6px 6px rgb(61, 112, 156), 7px 7px rgb(61, 112, 156), 8px 8px rgb(61, 112, 156), 9px 9px rgb(61, 112, 156), 10px 10px rgb(61, 112, 156), 11px 11px rgb(61, 112, 156), 12px 12px rgb(61, 112, 156), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);
	-webkit-text-shadow: 1px 1px rgb(61, 112, 156), 2px 2px rgb(61, 112, 156), 3px 3px rgb(61, 112, 156), 4px 4px rgb(61, 112, 156), 5px 5px rgb(61, 112, 156), 6px 6px rgb(61, 112, 156), 7px 7px rgb(61, 112, 156), 8px 8px rgb(61, 112, 156), 9px 9px rgb(61, 112, 156), 10px 10px rgb(61, 112, 156), 11px 11px rgb(61, 112, 156), 12px 12px rgb(61, 112, 156), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);
	-moz-text-shadow: 1px 1px rgb(61, 112, 156), 2px 2px rgb(61, 112, 156), 3px 3px rgb(61, 112, 156), 4px 4px rgb(61, 112, 156), 5px 5px rgb(61, 112, 156), 6px 6px rgb(61, 112, 156), 7px 7px rgb(61, 112, 156), 8px 8px rgb(61, 112, 156), 9px 9px rgb(61, 112, 156), 10px 10px rgb(61, 112, 156), 11px 11px rgb(61, 112, 156), 12px 12px rgb(61, 112, 156), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);

}

.shape-0 {
	text-shadow: 1px 1px rgb(70, 130, 180), 2px 2px rgb(70, 130, 180), 3px 3px rgb(70, 130, 180), 4px 4px rgb(70, 130, 180), 5px 5px rgb(70, 130, 180), 6px 6px rgb(70, 130, 180), 7px 7px rgb(70, 130, 180), 8px 8px rgb(70, 130, 180), 9px 9px rgb(70, 130, 180), 10px 10px rgb(70, 130, 180), 11px 11px rgb(70, 130, 180), 12px 12px rgb(70, 130, 180), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);
	-moz-text-shadow: 1px 1px rgb(70, 130, 180), 2px 2px rgb(70, 130, 180), 3px 3px rgb(70, 130, 180), 4px 4px rgb(70, 130, 180), 5px 5px rgb(70, 130, 180), 6px 6px rgb(70, 130, 180), 7px 7px rgb(70, 130, 180), 8px 8px rgb(70, 130, 180), 9px 9px rgb(70, 130, 180), 10px 10px rgb(70, 130, 180), 11px 11px rgb(70, 130, 180), 12px 12px rgb(70, 130, 180), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);

	-webkit-text-shadow: 1px 1px rgb(70, 130, 180), 2px 2px rgb(70, 130, 180), 3px 3px rgb(70, 130, 180), 4px 4px rgb(70, 130, 180), 5px 5px rgb(70, 130, 180), 6px 6px rgb(70, 130, 180), 7px 7px rgb(70, 130, 180), 8px 8px rgb(70, 130, 180), 9px 9px rgb(70, 130, 180), 10px 10px rgb(70, 130, 180), 11px 11px rgb(70, 130, 180), 12px 12px rgb(70, 130, 180), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);

	background-color: rgb(70, 130, 180);
}

.shape-0-shadow {
	text-shadow: 1px 1px rgb(61, 112, 156), 2px 2px rgb(61, 112, 156), 3px 3px rgb(61, 112, 156), 4px 4px rgb(61, 112, 156), 5px 5px rgb(61, 112, 156), 6px 6px rgb(61, 112, 156), 7px 7px rgb(61, 112, 156), 8px 8px rgb(61, 112, 156), 9px 9px rgb(61, 112, 156), 10px 10px rgb(61, 112, 156), 11px 11px rgb(61, 112, 156), 12px 12px rgb(61, 112, 156), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);
	-moz-text-shadow: 1px 1px rgb(61, 112, 156), 2px 2px rgb(61, 112, 156), 3px 3px rgb(61, 112, 156), 4px 4px rgb(61, 112, 156), 5px 5px rgb(61, 112, 156), 6px 6px rgb(61, 112, 156), 7px 7px rgb(61, 112, 156), 8px 8px rgb(61, 112, 156), 9px 9px rgb(61, 112, 156), 10px 10px rgb(61, 112, 156), 11px 11px rgb(61, 112, 156), 12px 12px rgb(61, 112, 156), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);

	-webkit-text-shadow: 1px 1px rgb(61, 112, 156), 2px 2px rgb(61, 112, 156), 3px 3px rgb(61, 112, 156), 4px 4px rgb(61, 112, 156), 5px 5px rgb(61, 112, 156), 6px 6px rgb(61, 112, 156), 7px 7px rgb(61, 112, 156), 8px 8px rgb(61, 112, 156), 9px 9px rgb(61, 112, 156), 10px 10px rgb(61, 112, 156), 11px 11px rgb(61, 112, 156), 12px 12px rgb(61, 112, 156), 13px 13px rgb(70, 130, 180), 14px 14px rgb(70, 130, 180), 15px 15px rgb(70, 130, 180), 16px 16px rgb(70, 130, 180), 17px 17px rgb(70, 130, 180), 18px 18px rgb(70, 130, 180), 19px 19px rgb(70, 130, 180), 20px 20px rgb(70, 130, 180), 21px 21px rgb(70, 130, 180), 22px 22px rgb(70, 130, 180), 23px 23px rgb(70, 130, 180), 24px 24px rgb(70, 130, 180), 25px 25px rgb(70, 130, 180), 26px 26px rgb(70, 130, 180), 27px 27px rgb(70, 130, 180), 28px 28px rgb(70, 130, 180);

	background-color: rgb(70, 130, 180);
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

.title-2 {
	font-size: 24px;
	line-height: 24px;
	text-transform: none;
}

h3 {
	font-size: 20px;
	line-height: 24px;
}

.title-3 {
	font-size: 20px;
	line-height: 24px;
	text-transform: none;
}

.title-4 {
	text-transform: none;
}

h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title-5 {
	text-transform: none;
	border-bottom: 0;
	margin: 0;
	padding: 0 0 10px;
}

a.info-link {
	font-weight: normal;
	color: #9a9a9a;
	font-size: 12px;
}

a.info-link:hover {
	/*color:#FF8C00;*/
	text-decoration: underline;
}

h1.intro-title {
	font-size: 44px;
	text-transform: none;
}

.main-container {
	min-height: 220px;
}

.footer {
	/*background: #fff none repeat scroll 0 0;*/
	background: none;
	padding: 15px 0;
	color: #999;
	letter-spacing: 0, 4px;
}

.footer .list-inline > li {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}

.footer ul li a {
	color: #999;
}

.footer-nav li a {
	text-transform: none;
	padding: 0 5px;
}

.cat-list h3, .footer-nav li a, .iconbox-wrap-text, .intro h1, .intro-title, .list-title, .logo, .logo-title, .page-info h3, .title-3, .user-panel-sidebar ul li a, button.btn-search {
	text-transform: none;
}

.wordwrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

.form-control {
	border: 1px solid #ddd;
}

div.rounded {
	-moz-border-radius: 5px;
	border-radius: 5px;
}
span.rounded {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.rounded-bottom {
	/* Arrondir les coins en bas à gauche et en bas à droite */
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 5px;
}

div.rounded-top {
	/* Arrondir les coins en haut à gauche et en bas à droite */
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 10px 10px 0 0;
}

div.rounded-bottom-large {
	/* Arrondir les coins en bas à gauche et en bas à droite */
	-moz-border-radius: 0 0 10px 0;
	-webkit-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 10px;
}

/* Bootstrap 3 responsive centered columns */
/* centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	/* margin-right:-4px; */
}

/* Social Login Or */
@media (min-width: 768px) {
	.omb_row-sm-offset-3 div:first-child[class*="col-"] {
		margin-left: 25%;
	}
}
.loginOr {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.loginOr .hrOr {
	/* background-color: #e6e6e6; */
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -12px;
	margin-left: -30px;
	background-color: white;
	width: 60px;
	text-align: center;
}

/* Search breadcrumbs */
.breadcrumbs {
	background: #FFF;
	margin: 0 0 20px;
	padding: 0 5px;
}

.breadcrumbs ol {
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	list-style: none;
	padding: 10px 0;
	overflow: hidden;
	width: 100%;
}

/* Categories links */
.category-links {
	padding: 0 5px;
	overflow: hidden;
	text-align: left;
	margin: 10px 0;
}

.category-links ul {
	color: #666;
	font-weight: bold;
}

.category-links ul li {
	display: inline-block;
	margin: 0 2.06186% 7px 0;
	vertical-align: top;
}

.category-links ul li a {
	font-weight: normal;
}

.category-links .badge {
	background-color: #999999;
	margin-left: 5px;
}


/* ================================================================== */
/* SELECT BOX */
/* ================================================================== */
/* Select box */
.select2-container {
	min-width: 200px !important;
	padding: 0;
	/*z-index:10050;*/
}
.select2-container--default .select2-selection--single {
	position: relative;
	height: 40px;
	padding: 6px;
}
/* Select arrow (Icon) */
.select2-container--default .select2-selection--single .select2-selection__arrow {
	position: absolute;
	height: 35px;
}
/* Opened */
.select2-container--default .select2-selection--single, .select2-dropdown {
	background-color: #fff;
	border: 1px solid #ddd;
}
.select2-container--default .select2-selection--single {
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
}
.select2-dropdown {
	box-shadow: 0 4px 3px #ededed;
	padding: 8px;
}
.select2-results__option {
	padding: 8px 10px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #fafafa;
	color: #555;
}

/* GOOGLE AUTO SUGGEST / Z-INDEX */
.pac-container {
	background-color: #FFF;
	z-index: 20000;
	position: fixed;
	display: inline-block;
	float: left;
}

/* SEARCH FORM FIELDS SIZE */
.search-row .search-col .form-control,
.search-row button.btn-search, .search-row-wrapper .form-control,
.search-row-wrapper button.btn, .search-row-wrapper .select2-container--default .select2-selection--single {
	font-size: 16px;
}
.search-row .search-col .form-control, .search-row button.btn-search, .search-row-wrapper .form-control, .search-row-wrapper button.btn {
	height: 45px;
}
.search-row-wrapper .select2-container--default .select2-selection--single {
	height: 45px;
	padding: 8px;
}
.search-row-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
}
.search-row .icon-append {
	color: #949494;
	font-size: 28px;
	position: absolute;
	top: 8px;
	left: 8px;
}
.search-row .has-icon {
	padding-left: 46px;
}
.search-row-wrapper .icon-append {
	color: #949494;
	font-size: 22px;
	position: absolute;
	top: 17px;
	left: 2px;
}
.search-row-wrapper .has-icon {
	padding-left: 30px;
}

.ads-details-info h4, .ads-details-info .h4, .ads-details-info h5, .h5, .ads-details-info h6, .ads-details-info .h6 {
	padding-bottom: 8px;
}

.box-title h2 {
	text-transform: none;
}

.navbar-nav > li > a {
	padding: 16px 10px;
}


/* INSTALL */
ul.installation li:first-child {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
ul.installation li {
	border-bottom: 1px solid #ddd;
	clear: both;
	list-style: outside none none;
	margin-bottom: 20px;
}
ul.installation li i {
	color: #15b0f1;
	float: left;
	font-size: 30px;
	height: 70px;
	margin-right: 20px;
	margin-top: 5px;
}
.installation .text-success {
	color: #3c763d;
}
.installation .text-danger {
	color: #a94442;
}

/* Bootstrap Pagination Color */
.pagination > li > a,
.pagination > li > span {
	color: #15b0f1;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #501192;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #15b0f1;
	border-color: #15b0f1;
}